@charset "UTF-8";
/*初始化*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, table {
    margin: 0;
    padding: 0;

    border: none;
}

body {
    font: normal 14px 'PingFang SC', 'Noto Sans CJK SC', 'Hiragino Sans GB', 'Microsoft Yahei', STHeiti;
    color: #252525;
    background: #F7F8FA;
    -webkit-text-size-adjust: none;
    -webkit-text-size-adjust: none; /*禁止浏览器字体大小调整*/
    -webkit-font-smoothing: antialiased;
    position: relative;
}
.yellowBack{
    position: absolute;
    width: 100%;
    height: 712px;
    background:#FF8C31 ;
    z-index:-1;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*底部固定*/
html,body{
    padding:0;
    margin:0;
    height:100%
}
#app{
    min-height: 100%;
    height:100%;/*IE6不支持min-height(https://jingyan.baidu.com/article/5bbb5a1b063a6f13eba179fb.html)*/
    height:auto!important;
    position: relative;
    padding-bottom: 328px;
}
#app .footer{
    position: absolute;
    bottom:0;
    clear: both;
}


li {
    list-style: none;
}

em, i, dfn, address {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, b {
    font-weight: normal;
    font-size: 12px;
}

i, em {
    font-style: normal;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

input, textarea, select {
    outline: none;
}

input {
    border: none 0;
    text-indent: 5px;
}

input::-ms-clear {
    display: none;
}

input:focus, a:focus, summary:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

input:-webkit-autofill {
    background-color: transparent;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

input::placeholder {
    color: #DADADA;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

li, dd, a, dt, span {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: #252525;
}

img {
    vertical-align: middle;
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}

a img {
    border: 0;
}

.clear:after {
    display: block;
    content: '';
    clear: both;
}

.clear {
    zoom: 1;
}

.fl {
    display: inline;
    float: left;
}

.fr {
    display: inline;
    float: right;
}

i {
    display: block;
    background-size: contain;
}

/*主题*/
.theme-button-bg {
    background-image: linear-gradient(90deg, #FFE55C 0%, #FFC72F 100%);
    /*background-image: url("../img/theme-button-bg.png");*/
    background-size: contain;
}

.theme-border {

}
.theme-orange{
    background: #FF8C31;
    box-shadow: 0 8px 14px 0 rgba(255,140,49,0.30);
    border-radius: 6px;
    color:#fff;
}
.grey-button{
    font-size: 16px;
    height: 28px;
    width: 114px;
    line-height: 28px;
    text-align: center;
    border-radius: 6px;
    cursor:default;
    margin-left: 20px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    color: #242529;
}
.disabled {
    background: #FAFAFA !important;
    border: 1px solid #D9D9D9 !important;
    color: #CDCDCD !important;
    cursor: pointer;
    font-size: 16px;
    height: 28px;
    width: 114px;
    line-height: 28px;
    text-align: center;
    border-radius: 6px;
    margin-left: 20px;
}
.button {
    border: 1px solid #D3D3D3;
    border-radius: 6px;
}
/*价钱颜色*/
.price-color {
    color: #FF4500;
}
.add-price{
    color:#45CA9F;
}
.theme-border-default {
    border-color: #DADADA;
}

/*ico*/
/*平台icn 及认证*/
.icn_wechat {
    background-image: url("../img/icn_wechat.png");
}

.icn_wxAuth {
    width: 12px;
    height: 12px;
    background-image: url("../img/icn_wxAuth.png");
}

/*微博认证蓝*/
.ico_wbAuthBlue {
    width: 12px;
    height: 12px;
    background-image: url("../img/ico_wbAuthBlue.png");
}

/*微博认证黄*/
.ico_wbAuthYellow {
    width: 12px;
    height: 12px;
    background-image: url("../img/ico_wbAuthYellow.png");
}

.icn_weibo {
    background-image: url("../img/icn_weibo.png");
}

.icn_zhibo3 {
    width: 14px;
    height: 14px;
    background-image: url("../img/icn_zhibo3.png");
}

.icn_zhibo4 {
    width: 14px;
    height: 14px;
    background-image: url("../img/icn_zhibo4.png");
}

.icn_zhibo5 {
    width: 14px;
    height: 14px;
    background-image: url("../img/icn_zhibo5.png");
}

.icn_zhibo6 {
    width: 14px;
    height: 14px;
    background-image: url("../img/icn_zhibo6.png");
}

.icn_meipai {
    background-image: url("../img/icn_meipai.png");
}

.ico-bandCards{
    background-image: url("../img/ico-bandCards.png");
    background-size:22px 16px
}
.ico-rightArrow {
    background-image: url("../img/ico-rightArrow.png");
    background-size:10px 10px
}
.ico-loading {
    background-image: url("../img/loading.gif");
    background-size: contain;
}

.ico-phone {
    background: url("../img/ico-phone.png");
    background-size: 38px 38px;
}
.ico-shops{
    background: url("../img/ico-shop.png");
    background-size:20px 19px;
}
.ico-email {
    background: url("../img/ico-email.png");
    background-size: 38px 38px;
}

.ico-qq {
    background: url("../img/ico-fQQ.png");
    background-size: 38px 38px;
}

.ico-demand {
    background: url("../img/ico-demand.png");
    background-size: 23px 17px;
}

.ico-trues {
    background: url("../img/ico-trues.png");
    background-size: 20px 20px;
}

.ico-supply {
    background: url("../img/ico-supply.png");
    background-size: 23px 17px;
}

.ico-info {
    background: url("../img/ico-info.png");
    background-size: 23px 17px;
}

.ico-code1 {
    background: url("../img/code1.png");
    background-size: 120px 120px;
}

.ico-code2 {
    background: url("../img/code2.png");
    background-size: 120px 120px;
}

.ico-search {
    position: absolute;
    width: 13.8px;
    height: 13.8px;
    left: 21px;
    top: 18px;
    background: url("../img/ico-search.png");
    background-size: 13.8px 13.8px;
}

.ico-arrow-up {
    width: 8px;
    height: 5px;
    background: url("../img/ico-arrow-up.png");
    background-size: 8px 5px;
    opacity: 0.5;
}

.ico-arrow-up.on {
    opacity: 1;
}

.ico-auth-ok {
    background: url("../img/ico-auth-ok.png");
    background-size: 66px 20px;
}

.ico-auth-not-no {
    background: url("../img/ico-auth-no.png");
    background-size: 66px 20px;
}

.ico-auth-not-fail {
    background: url("../img/ico-auth-fail.png");
    background-size: 66px 20px;
}

.ico-auth-not-md {
    background: url("../img/ico-auth-md.png");
    background-size: 66px 20px;
}

/*顺时针 旋转90*/
@keyframes rotate-clockwise-180
{
    from {transform:rotate(-180deg)}
    to {transform:rotate(0deg)}
}

@-moz-keyframes rotate-clockwise-180 /* Firefox */
{
    from {-moz-transform:rotate(-180deg)}
    to {-moz-transform:rotate(0deg)}
}

@-webkit-keyframes rotate-clockwise-180 /* Safari 和 Chrome */
{
    from {-webkit-transform:rotate(-180deg)}
    to {-webkit-transform:rotate(0deg)}
}

@-o-keyframes rotate-clockwise-180 /* Opera */
{
    from {-o-transform:rotate(-180deg)}
    to {-o-transform:rotate(0deg)}
}

/*逆时针 旋转90*/
@keyframes rotate-anti-clockwise-180
{
    from {transform:rotate(0deg)}
    to {transform:rotate(-180deg)}
}

@-moz-keyframes rotate-anti-clockwise-180 /* Firefox */
{
    from {-moz-transform:rotate(0)}
    to {-moz-transform:rotate(-180deg)}
}

@-webkit-keyframes rotate-anti-clockwise-180 /* Safari 和 Chrome */
{
    from {-webkit-transform:rotate(0deg)}
    to {-webkit-transform:rotate(-180deg)}
}

@-o-keyframes rotate-anti-clockwise-180 /* Opera */
{
    from {-o-transform:rotate(0deg)}
    to {-o-transform:rotate(-180deg)}
}


.ico-arrow-down {
    width: 8px;
    height: 5px;
    background: url("../img/ico-arrow-down.png");
    background-size: 8px 5px;
    opacity: 0.5;
}
.ico-arrow-down.rotate-clockwise-180{
    animation: rotate-clockwise-180 0.2s;
    -moz-animation: rotate-clockwise-180 0.2s;	/* Firefox */
    -webkit-animation: rotate-clockwise-180 0.2s;	/* Safari 和 Chrome */
    -o-animation: rotate-clockwise-180 0.2s;	/* Opera */
}
.ico-arrow-down.rotate-anti-clockwise-180{
    animation: rotate-anti-clockwise-180 0.2s forwards;
    -moz-animation: rotate-anti-clockwise-180 0.2s forwards;	/* Firefox */
    -webkit-animation: rotate-anti-clockwise-180 0.2s forwards; /* Safari 和 Chrome */
    -o-animation: rotate-anti-clockwise-180 0.2s forwards; /* Opera */
}

.ico-collects {
    background: url("../img/ico-collects.png");
    background-size: 32px 32px;
}
.ico-onCollects{
    background: url("../img/ico-onCollect.png");
    background-size: 32px 32px;
}
.ico-shares {
    background: url("../img/ico-shares.png");
    background-size: 32px 32px;
}

.ico-arrow-down.on {
    opacity: 1;
}

.ico-upAdown {
    width: 8px;
    height: 14px;
    background: url("../img/ico-upAdown.png");
    background-size: 8px 14px;
}

.ico-right {
    width: 5px;
    height: 8px;
    background: url("../img/ico-right.png");
    background-size: 5px 8px;
}

.ico-check-blue {
    width: 18px;
    height: 18px;
    background-image: url("../img/ico-check-blue.png");
    cursor: pointer;
}

.ico-check-onblue {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-image: url("../img/ico-check-blue-on.png");
}

.ico-check-blue.on {
    background-image: url("../img/ico-check-blue-on.png");
}

.ico-other-weixin {
    width: 31px;
    height: 25px;
    background-image: url("../img/ico-other-weixin.png");
    background-size: 31px 25px;
}

.ico-other-qq {
    width: 23px;
    height: 28px;
    background-image: url("../img/ico-other-qq.png");
}

.ico-mobile {
    width: 16px;
    height: 26px;
    background-image: url("../img/ico-mobile.png");
}

.ico-greyStart {
    background-image: url("../img/ico-greyStart.png");
    background-size: 36px 36px;
}

.ico-onStart {
    background-image: url("../img/ico-onStart.png");
    background-size: 36px 36px;
}

.ico-other-weibo {
    width: 33px;
    height: 27px;
    background-image: url("../img/ico-other-weibo.png");
}

.ico-other-taobao {
    width: 33px;
    height: 25px;
    background-image: url("../img/ico-other-taobao.png");
}

.ico-success {
    width: 102px;
    height: 102px;
    background-image: url("../img/ico-success.png");
}

.i-account-userName-edit {
    width: 18px;
    height: 18px;
    background-image: url("../img/i-account-userName-edit.png");
    cursor: pointer;
}

.ico-loginReg-password {
    background-image: url("../img/ico-loginReg-password.png");
}

.ico-order {
    background-image: url("../img/ico-order.png");
}

.ico-demands {
    background-image: url("../img/ico-demands.png");
}

.ico-supplier {
    background-image: url("../img/ico-supplier.png");
}

.icon-user {
    background-image: url("../img/icon-user.png");
}

.ico-account {
    background-image: url("../img/ico-account.png");
}

.ico-home {
    background-image: url("../img/ico-home.png");
}

.ico-setting {
    background-image: url("../img/ico-setting.png");
    background-size: 21.6px 21.6px;
}

.ico-waitsure {
    background-image: url("../img/ico-waitsure.png");
    background-size: 30px 32px;
}
.ico-blackArrow{
    background-image: url("../img/ico-blackArrow.png");
    background-size: 5px 8px;
}
.ico-waitmoney {
    background-image: url("../img/ico-waitmoney.png");
    background-size: 34px 34px;
}

.ico-waitgods {
    background-image: url("../img/ico-waitgods.png");
    background-size: 30px 30px;
}

.ico-waitcommon {
    background-image: url("../img/ico-waitcommon.png");
    background-size: 30px 30px;
}

.ico-address {
    width: 12px;
    height: 16px;
    background-image: url("../img/ico-address.png");
    background-size: 12px 16px;
}

.ico-radio {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url("../img/ico-radio.png");
    cursor: pointer;
}
.ico-onradio {
    background-image: url("../img/ico-radio-on.png");
}

.ico-radio.on {
    background-image: url("../img/ico-radio-on.png");
}

.ico-close {
    width: 54px;
    height: 53px;
    background-image: url("../img/ico-close.png");
    cursor: pointer;
}

.ico-sidebar-appDownload {
    width: 18px;
    height: 30px;
    background-image: url("../img/ico-sidebar-appDownload.png");
}

.ico-sidebar-service {
    width: 28px;
    height: 25px;
    background-image: url("../img/ico-sidebar-service.png");
}

.ico-sidebar-collection {
    width: 26px;
    height: 24px;
    background-image: url("../img/ico-sidebar-collection.png");
}

.ico-sidebar-top {
    width: 22px;
    height: 24px;
    background-image: url("../img/ico-sidebar-top.png");
}

.ico-edit-submit {
    width: 42px;
    height: 19px;
    background-image: url("../img/ico-edit-submit.png");
}

.ico-auth-success {
    width: 102px;
    height: 102px;
    background-image: url("../img/ico-auth-success.png");
}
.ico-add{
    width: 28px;
    height: 28px;
    background-image: url("../img/ico-add.png");
    background-size: 28px 28px;
}
.ico-arrow-up-white{
    width: 21px;
    height: 11px;
    background-image: url("../img/ico-arrow-up-white.png");
}
/*layer*/
.layer .ico-loading {
    width: 52px;
    height: 52px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
    z-index: 999999;
}

.layerMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layerMsg {
    font-size: 14px;
    color: #FFFFFF;
    width: auto;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    z-index: 999999;
}

.layerModal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:99
}

.layerModal .Modal {
    width: 594px;
    height: auto;
    background-color: #FFFFFF;
    top: 20%;
    left: 50%;
    position: fixed;
    margin-left: -297px;
}

.layerModal .Modal .head {
    height: 54px;
    width: 100%;
    line-height: 54px;
    padding-left: 26px;
    border-bottom: 1px solid #DADADA;
    font-size: 18px;
    font-weight: bold;
}
.layerModal.confirm .head{
    border-bottom: none;
}
.layerModal.confirm .Modal{
    top:50%;
    margin-top: -150px;
}
.layerModal.confirm .content{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}
.layerModal.confirm .content .cont{
    font-size: 20px;
    text-align: center;
    height: 160px;
    line-height: 80px;
}
.layerModal.confirm .content .bottom{
    width: 100%;
    text-align: center;
}
.layerModal.confirm .content .bottom a{
    display: block;
    float: left;
    text-align: center;
    height: 40px;
    width: 130px;
    line-height: 40px;
    border-radius: 6px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 16px;
}
.layerModal.confirm .content .bottom a.no{
    margin-left: 160px;
}
/*container*/
.container {
    width: 1300px;
    height: auto;
    margin: auto;
    background: #F7F8FA;
    overflow: hidden;
}

/* header */
.header {
    width: 100%;
    min-width: 1300px;
    background: #333640;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08);
}

.header .content {
    width: 1300px;
    height: 70px;
    margin: auto;
    position: relative;
}

.header .content .logo {
    width: 126px;
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
    background: url(../img/logo.png);
    background-size: 126px 30px;
}
.header .content .logoFinancial {
    width: 167px;
    height: 52px;
    margin-left: 30px;
    margin-top: 18px;
    background: url(../img/logo-financial.png);
    background-size: 167px 52px;
}

.header .content .nav {
    margin-left: 70px;
    height: 70px;
    line-height: 70px;
}

.header .content .nav a {
    float: left;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 14px;
    width: 104px;
    font-weight: bolder;
    text-align: center;
    margin-right: 12px;
}

.header .content .nav a.on {
    color: #252525;
    background: url(../img/ico-header-nav-on.png);
    background-size: 104px 84px;
}

.header .content .login {
    margin-right: 70px;
    color: #fff;
    height: 70px;
}

.header .content .login .loginImg {
    margin-top: 28px;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 22px;
    background: url(../img/icon-uer.png);
    background-size: 16px 16px;
}

.header .content .login .loginStatus {
    height: 70px;
    line-height: 70px;
}

.header .content .login .loginStatus a {
    font-size: 16px;
    color: #FFFFFF;
    float: left
}

.header .content .login .loginStatus .tip {
    width: 0;
    height: 16px;
    background: #72788A;
    border: solid 1px #72788A;
    float: left;
    margin: 29px 12px 0 12px;
}

.header .content .loginList {
    height: 70px;
    line-height: 70px;
    position: relative;
}

.header .content .loginList li {
    color: #fff;
    float: right;
    margin-left: 43px;
    cursor: pointer;
    font-size: 16px;
}
.header .content .loginList li >a{
    color: #ffffff;
}
.header .content .loginList li i {
    width: 23px;
    height: 17px;
    float: left;
    margin-top: 27px;
    margin-right: 7px;
}

.header .content .loginList li .ico_infoTipsRed {
    width: 6px;
    height: 6px;
    right: 70px;
    top: -3px;
}

.header .content .loginList li b {
    width: 8px;
    height: 5px;
    background: url(../img/ico-path.png);
    background-size: 8px 5px;
    float: right;
    margin-top: 33px;
    margin-left: 10px;
}

.header .content .loginList .navPull {
    width: 378px;
    height: 300px;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    position: absolute;
    top: 70px;
    z-index: 10;
}

.header .content .loginList .navPull .top {
    width: 100%
}

.header .content .loginList .navPull .top .userImage {
    height: 52px;
    width: 52px;
    border-radius: 20px;
    margin: 20px;
    background-size: 52px 52px;
}

.header .content .loginList .navPull .top .nickName {
    width: 130px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 25px;
}

.header .content .loginList .navPull .top .core {
    width: 80px;
    display: inline-block;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 35px 20px 0 0;
    border-radius: 6px;
    color: #FFFFFF;
    text-align: center;
}

.header .content .loginList .navPull.demand .top .core {
    background: #FF8E1F;
}

.header .content .loginList .navPull.supplier .top .core {
    background-color: #5F9DF6;
}

.ico-triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #FFFFFF;
    position: absolute;
}
.header .content .loginList .navPull.demand {
    left: -193px;
}

.header .content .loginList .navPull.demand .ico-triangle-up {
    top: -40px;
    right: 50px;
}

.header .content .loginList .navPull.supplier {
    left: -20px;
    margin: 0 !important;
}

.header .content .loginList .navPull.supplier .ico-triangle-up {
    top: -40px;
    right: 50px;
}

.header .content .loginList .navPull.demand .top .nickName {
    color: #252525;
}

.header .content .loginList .navPull.supplier .top .nickName {
    color: #252525;
}

.header .content .loginList .apply {
    width: 378px;
    height: 220px;
    background-image: url("../img/ico-nav-bg.png");
    position: absolute;
    top: 70px;
    left: -1px;
    background-size: contain;
    border: 1px solid #FFC72F;
    z-index: 10;
}

.header .content .loginList .apply span {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #252525;
}

.header .content .loginList .apply span:first-child {
    margin-top: 36px;
}

.header .content .loginList .apply span:nth-child(2) {
    margin-top: 10px;
}

.header .content .loginList .apply a {
    width: 206px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    display: block;
    float: left;
    margin: 50px 0 0 85px;
    background: #FFFFFF;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.header .content .loginList .navPull .nav {
    width: 318px;
    height: 80px;
    margin-left: 30px;
    margin-top: 32px;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    border-left:none;
    border-right:none ;
}

.header .content .loginList .navPull .nav div {
    width: 106px;
    float: left;
    height: 78px;
    margin: 0;
}

.header .content .loginList .navPull .nav div a {
    float: left;
    width: 100%;
    display: inline-block;
    color: #252525;
    margin: 5px 0 0 0;
    font-weight: normal;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
}

.header .content .loginList .navPull .nav div i {
    width: 36px;
    height: 36px;
    margin: 5px auto 4px;
    float: none;
}

.ico-nav-order-demand {
    background-image: url("../img/ico-nav-order-demand.png");
}

.ico-nav-my-demand {
    background-image: url("../img/ico-nav-my-demand.png");
}

.ico-nav-wallet-demand {
    background-image: url("../img/ico-nav-wallet-demand.png");
}

.ico-nav-sell-supplier {
    background-image: url("../img/ico-nav-sell-supplier.png");
}

.ico-nav-shop-supplier {
    background-image: url("../img/ico-nav-shop-supplier.png");
}

.ico-nav-wallet-supplier {
    background-image: url("../img/ico-nav-wallet-supplier.png");
}

.ico-nav-bg {
    width: 430px;
    height: 272px;
    background-image: url("../img/ico-nav-bg.png");
}

.ico_infoTipsRed {
    width: 6px;
    height: 6px;
    background: #FF3D00;
    border-radius: 8px;
    position: absolute;
    bottom: 47px;
    right: 5px;
}

.header .content .loginList .navPull .nav a:last-child {
    border-right: none;
}

.header .content .loginList .navPull .bottom {
    height: 46px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #F7F8FA;
    font-size: 14px;
    line-height: 46px;
}

.header .content .loginList .navPull .bottom a {
    display: inline-block;
    float: left;
    width: 188px;
    height: 46px;
    text-align: center;
    line-height: 46px;
}

.header .content .loginList .navPull .bottom a:last-child {
    border-left: 1px solid #E4E4E4;
    color: #FF4B4B;
}

.header .content .loginList .msg {
    width: 130px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 70px;
    right: -30px;
    padding: 0 10px;
    z-index: 10;
}

.header .content .loginList .msg .ico-triangle-up {
    top: -38px;
    right: 40px;
}

.header .content .loginList .msg a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    display: inline-block;
    margin: 0;
    color: #252525;
    border-bottom: 1px solid #DADADA;
    font-size: 16px;
    position: relative;
}

.header .content .loginList .msg a .ico_infoTipsRed {
    right: 0;
}

.header .content .loginList .msg a:last-child {
    border-bottom: none;
}

/* footer */
.footer {
    width: 100%;
    min-width: 1300px;
    background: #363942;
    height: 318px;
}

.footer .footerCon {
    width: 1300px;
    height: 318px;
    margin: 0 auto;
}

.footer .footerCon .footerConTop {
    width: 100%;
    height: 228px;
    border-bottom: solid 1px #666666;
    padding: 40px 30px;
    box-sizing: border-box;
}

.footer .footerCon .footerConTop .codeCon dl {
    float: left;
    width: 120px;
    margin-right: 82px;
}

.footer .footerCon .footerConTop .codeCon dl dt {
    width: 120px;
    height: 120px;
}

.footer .footerCon .footerConTop .codeCon dl dt i {
    width: 120px;
    height: 120px;
}

.footer .footerCon .footerConTop .codeCon dl dd {
    text-align: center;
    width: 120px;
    margin-top: 11px;
    color: #FFFFFF;
}

.footer .footerCon .footerConTop .Contact ul li {
    margin-bottom: 16px;
    height: 38px;
    line-height: 38px;
    color: #fff;
}

.footer .footerCon .footerConTop .Contact ul li i {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    margin-right: 20px;
}

.footer .footerCon .footerConTop .aboutOur {
    margin-left: 107px;
}

.footer .footerCon .footerConTop .aboutOur ul {
    margin-left: 112px;
}

.footer .footerCon .footerConTop .aboutOur ul:first-child {
    margin-left: 0;
}

.footer .footerCon .footerConTop .aboutOur ul > li {
    font-size: 18px;
    color: #FFFFFF;
}

.footer .footerCon .footerConTop .aboutOur ul > li:first-child {
    margin-bottom: 25px;
}

.footer .footerCon .footerConTop .aboutOur ul > li ol li {
    font-size: 14px;
    color: #979797;
    margin-bottom: 14px;
}

.footer .footerCon .footerConTop .aboutOur ul > li ol li a {
    font-size: 14px;
    color: #979797;
    margin-bottom: 14px;
}

.footer .footerCon .footerConBtm {
    width: 100%;
    height: 89px;
}

.footer .footerCon .footerConBtm p {
    margin-left: 429px;
    margin-top: 27px;
    font-size: 14px;
    color: #FFFFFF;
}

.footer .footerCon .footerConBtm p b {
    margin-left: 57px;
}

/*地址 省市*/
.address {
    width: auto;

}

.address .child {
    width: 136px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    background-image: linear-gradient(-180deg, #FBFBFB 0%, #E8E8E8 100%);
    border: 1px solid #E8E8E8;
    padding: 0 16px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.address .child .title {
    width: 105px;
    height: 36px;
}

.address .child .text {
    float: left;
}

.address .child .ico-arrow-down {
    margin-top: 15px;
    float: right;
}

.address .list {
    width: 136px;
    height: 280px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08);
    position: absolute;
    text-align: center;
    line-height: 32px;
    padding: 10px 0;
    left: 0;
    top: 46px;
    font-size: 16px;
    overflow-y: scroll;
    z-index: 1001;
}

.address .list li {
    float: left;
    width: 100%;
}

.address .list li:hover {
    background: #FFC72F;
}

/*分页*/
.page {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    margin-top: 20px;
}

.page .pageContent{
    display: inline-block;
    width: auto;
}

.page ul {
    height: 30px;
    display: table;
}

.page a {
    display: block;
    float: left;
    min-width: 30px;
    padding: 5px 10px;
    background: #fafafa;
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    font-size: 14px;
    color: #646464;
    margin-right: 10px;
}
.page .no{
    border:0!important;
    margin: 0 !important;
    margin-left: -10px!important;
    padding: 0 !important;
    cursor: text;
}
.page a.on {
    color: #252525;
    background: #FFC72F;
    border: 1px solid #FFC72F;
}

.page a.PrevNextNo {
    color: #b6b6b6;
    border: 1px solid #d9d9d9;
    cursor: default;
}

.jumpPage{
    margin-top: 2px;
    width: auto;
    line-height: 24px;
    font-size: 14px;
    color: #646464;
}

.jumpPage .currentPage{
    width:26px;
    padding:5px 0;
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    margin:0 3px;
}

.jumpPage .redirectBtn{
    padding:0px 4px!important;
    border: 1px solid #b6b6b6;
    margin-left: 3px;
}
/*其余公共*/
.textarea{
    width: 646px;
}
.numTotal {
    color: #cccccc;
    display: block;
    width: 100%;
    text-align: right;
    margin-top: -20px;
    padding-right: 10px;
}
.priceFormat{
    color: #FF4500;
}
/*编辑器*/
.UEditor{
    width: auto;
    height: auto;
    position: relative;
}
.UEditor .upLoadPic{
    width: 17px;
    height: 13px;
    background-image: url("../img/ico-UEditor-upLoadPic.png");
    position: absolute;
    top: 10px;
    left: 476px;
    z-index: 1000;
}
.UEditor .upLoadPicFile{
    width: 17px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 476px;
    z-index: 1000;
    margin: 0;
    padding: 0;
    opacity: 0;
}
/*金融*/
.header .content .nav.financial a{
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.header .content .nav.financial a.on{
    color: #FFC72F;
    background:none
}
.ico-half{
    width: 8px;
    height:8px;
    background: #FFC72F;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.08);
    border-radius: 8px;
    position: absolute;
    top: 65px;
    left: 47px;
}
.backIndex{
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    top: 24px;
    right: 480px;
}
.backIndex.loginNo{
    right: 280px;
}